@import "../../../assets/variables.scss";
.example-card {
    max-width: 400px;
    border-top: 20px solid $primary-purple;
    border-radius: 20px ;
  }
  
 .flex{
    display: flex;
    justify-content: space-between;
 }

 .raisedButton{
   border-radius: 20px ;
 }

 

 