<div class="wrapper">
  <div class="flex-filter-undo">
    <mat-form-field>
      <mat-label>Filtrar por...</mat-label>
      <mat-select (selectionChange)="onFilterChange($event)">
        <mat-option value="one">Preço crescente</mat-option>
        <mat-option value="two">Preço decrescente</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="undoDelete()">
      <mat-icon>undo</mat-icon> Desfazer
    </button>
    <button mat-button [matMenuTriggerFor]="menu">Adicionar Produto</button>
    <div class="stop-propagation" (click)="$event.stopPropagation()">
      <mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
        <app-adicionar-produtos
          [actualId]="actualId"
          (addProduct)="onAddProduct($event)"
        ></app-adicionar-produtos>
      </mat-menu>
    </div>
  </div>

  <div class="container-cards box">
    <app-card
      *ngFor="let product of products; let i = index"
      [product]="product"
      (idFromRemovedProduct)="onProductDeleted($event)"
    ></app-card>
  </div>
</div>
