<div class="wrapper">
  <mat-form-field>
    <mat-label>Filtrar por...</mat-label>
    <mat-select>
      <mat-option value="one">Preço crescente</mat-option>
      <mat-option value="two">Preço decrescente</mat-option>
    </mat-select>
  </mat-form-field>
    <div class="container-cards box">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</div>